body {
    font-family: Arial, sans-serif;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

    button:hover {
        background-color: #45a049;
}
